if SHIELD_AN_KB_LEFT

config ZMK_KEYBOARD_NAME
    default "An KB"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_AN_KB_LEFT || SHIELD_AN_KB_RIGHT

config ZMK_SPLIT
    default y

endif